@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Elephant';
  src: url('./assets/fonts/Elephant-PersonalUse.ttf');
}

@font-face {
  font-family: 'Bookman';
  src: url('./assets/fonts/Bookman-Old-Style-Regular.ttf');
}
